<!DOCTYPE html>
  <head>
    <title>ciao</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    {{page_title}}
    <p>{{env}}</p>
    {{{body}}}
    
    <canvas id="bg-holder" height="450" width="600" style="border:1px solid #fc0"></canvas>

    <script>
      var config = { domain: '{{config.domain}}' };
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script src="/lib/raphael-min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
