.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

html, body, #bg-holder { width: 100%; height: 100%; }
#bg-holder { background: #fbc; width: 500px; height: 500px; }

path { fill: none; stroke: #000; }

#tweetd { max-width: 800px; margin: 0 auto; }

.tw_line {
  margin-bottom: 30px;
}

.tw_line .tw_brd {
  float: left;
  width: 100px; height: 100px; background: #fc0;
  margin: 0 0 10px 10px;
}

